<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Coffee Shop</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>expandSubMenu= !expandSubMenu">
                <span class="oi oi-cart" aria-hidden="true"></span> Product Management
            </NavLink>
            @if (expandSubMenu) {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-item px-3" href="productlist">
                            <span class="oi oi-tags" aria-hidden="true"></span> Products
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-item px-3" href="productCategorylist">
                            <span class="oi oi-spreadsheet" aria-hidden="true"></span> Prod. Categories
                        </NavLink>
                    </li>
                </ul>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CustomerList">
                <span class="oi oi-people" aria-hidden="true"></span> Customers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EmployeeList">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Employees
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactions">
                <span class="oi oi-dollar" aria-hidden="true"></span> Transactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monthlyledger">
                <span class="oi oi-book" aria-hidden="true"></span> Monthly Ledger
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubMenu;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }
}
